body {
  overflow-y: auto;
  overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

*{
  padding-bottom: 0%;
}

#lotion-title{
  border-bottom: 1px solid lightgray;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  --tt-color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  position: absolute;
}




body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: black;
}
button:hover {
  color: rgb(231, 152, 166);
}


.app-sidebar {
  width: calc(20% - 15px);
  height: 100vh;
  top: 66px;
  display: flex;
  flex-direction: column;
  border-right: solid 1px gainsboro;
  position: absolute;
  border-bottom: solid 1px gainsboro;
}


.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: -50px;
  border-bottom: solid 1px gainsboro;
}


.app-sidebar-header h1 {
  margin-top: 70px;
  font-size: 25px;
}

.app-sidebar-header button {
  margin-top: 65px;
  font-size: 25px;
}


.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: auto;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}


.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  color: black;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: rgba(231, 152, 167, 0.614);
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: rgb(231, 152, 166);
  color: white;
}


.app-main {
  width: 40%;
  margin-top: 60px;
  margin-left: 250px;
}
.app-main-note-edit{
  height: 60vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  margin-left: 200px;
  font-size: 1rem;
  color: grey;
}

.app-main-note-edit {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  margin-bottom: -20px;
  width: 100%;
  padding: 0px;
  font-family: inherit;
  font-size: 2rem;
  max-height: 60vh;
  overflow-y: auto;
}


input:focus{
  outline: none;
}

.time-and-calendar input{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: small;
  width: 25%;
  border-bottom: none;
  padding: 23px;
  top: 50px;
  right: 485px;
  border: none;
  position: relative;
}

#title {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding-left: 15px;
  border: none;
}


#middle {
  display: flex;
}


#sideMenu {
  cursor: pointer;
  border: none;
  background: none;
  font-size: x-large;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -5px;
}

#icon {
  position: absolute;
  left: 0;
  margin-left: 15px;
  cursor: pointer;
}

#sideMenu:hover{
  color: rgb(231, 152, 166);
}


#noNotes {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: grey;
  margin-top: 25px
}


#deleteNote {
  cursor: pointer;
  border: none;
  background-color: inherit;
  width: 50px;
  height: 50px;
  font-size: medium;
  float: right;
  margin-top: -285px;
  position: absolute;
  margin-left: 970px;
}

#deleteNote:hover {
  background-color: rgb(231, 152, 166);
  color: white;
}

#saveNote {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  font-size: medium;
  float: right;
  margin-top: -285px;
  margin-left: 900px;
  position: absolute;
}

#saveNote:hover {
  background-color: rgb(231, 152, 166);
  color: white;
}

#editNote {
  cursor: pointer;
  border: none;
  width: 50px;
  height: 50px;
  font-size: medium;
  float: right;
  margin-top: -285px;
  margin-left: 900px;
  position: absolute;
}

#editNote:hover {
  background-color: rgb(231, 152, 166);
  color: white;
}
/*
.quill {
  height: 50%;
  width: 100%;
  padding-top: 160px;
  padding-left: -800px;
}*/
#ReactQuill .ql-container {
  height: 71.5%;
  margin-left: -395px;
  font-size: medium;
  font-family: inherit;
}

#ReactQuill .ql-toolbar { 
  margin-top: -250px;
  margin-left: -395px;
}

#ReactQuill{
  width: 80%;
  max-width: 80%;
  /*position: absolute;*/
  height: auto;
}

.ql-container.ql-snow{ border: none !important;}
.ql-toolbar.ql-snow{ border: none !important;}

#newNoteContent {
  font-size: medium;
  margin-top: -200px;
  margin-left: 20px;
  width: 1250px;
  font-family: inherit;
  word-wrap: break-word;
}


#ReactQuillPreview .ql-container,
#ReactQuillPreview .ql-toolbar {
  border: none;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

#ReactQuillPreview{
  border-bottom: none;
  outline: none;
  font-size: 12px;
  margin-left: -15px;
  cursor: pointer;
}


